.fondo-azul {
  background-color: #106EB9;
  height: 50px;
}

.fondo-hueso {
  background-color: #F5F2F2;
}

.fondo-blanco {
  background-color: #fff;
}

.fondo-icon-azul {
  color: #56C2D6;
}

.fondo-icon-rojo {
  color: #ff0000;
}

.tipografia {
  font-family: Roboto, serif;
}

.container-flex {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: unset;
  overflow: scroll;
}

.container-flex div {
  background-color: #56C2D6;
  width: 100px;
  height: 40px;
  margin: 1px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.gris-opaco{
  color: #B9B9B9
}

.gris-opaco-bold{
  color: #656565;
}

.azul-bold {
color: #106EB9;
}

.colorStilo{
  background-color: brown;
}


/*tamaño de fuente*/

@media (max-width: 576px) {
  .tamanioFuente {
    font-size: 12px;
  }
}
